template
  section
    h2 ${heading}
    form
      div
        label First Name:
        span ${firstName}

      div
        label Last Name:
        span ${lastName}

      div
        label Full Name:
        span ${fullName}

      button.btn.btn-default(click.trigger="openDialog()")
        span Open Dialog

      button.btn.btn-default(click.trigger="openModalDialog()")
        span Open Modal Dialog

      button.btn.btn-default(click.trigger="openConfirmDialog()")
        span Open Confirm Dialog

  hr

  //- require(from="../test-popover/test-popover")
  //- panel
  //-   button() Ednoy
  //-   button() dve
  //- tabs(change.delegate="hello($event, 'nestho')")
  //-   tab(name="first", badge.bind="promenlivaKoqtoSvurzvadvetekontroli", active)
  //-     test-popover(x.two-way="promenlivaKoqtoSvurzvadvetekontroli")
  //-   tab(name="second", badge="b", active)
  //-     p some text