template
      section.au-animate
        h2 ${heading}
        h1 JADE
        form(role='form', submit.delegate='submit()')
          .form-group
            label(for='fn') First Name JADE
            input#fn.form-control(type='text', value.bind='firstName', placeholder='first name')
          .form-group
            label(for='ln') Last Name
            input#ln.form-control(type='text', value.bind='lastName', placeholder='last name')
          .form-group
            label Full Name
            p.help-block ${fullName | upper}
          button.btn.btn-default(type='submit') Submit
          h1 Buttons tests
          add-button
          h5 =============
          cancel-button
          h5 =============
          check-button
          h5 =============
          copy-button
          h5 =============
          delete-button
          h5 =============
          download-button
          h5 =============
          edit-button
          h5 =============
          filter-button
          h5 =============
          info-button
          h5 =============
          navigation-button
          h5 =============
          print-button
          h5 =============
          remove-button
          h5 =============
          save-button          
